.player-card, .monster-card {
    border: 1px solid var(--border-color);
    border-radius: 5px;
    background-color: rgba(0,0,0,0.5);
    width: 15em;
    height: max-content;
    text-align: center;
    position: relative;
}
.player-card > p, .monster-card > p {
    text-align: center;
}
.flex {
    display: flex;
}
.flex > .vertical {
    min-height: 100%;
    max-height: 100vh;
    margin-left: 1em;
    margin-right: 1em;
}


h6 {
    margin: 0;
    padding: 0;
}

.modifiable-item {
    margin: 0.25em;
    width: 5em;
}
.text-center{
    text-align: center;
}


span {
    font-weight: bold;
}
.delete-button {
    position: absolute;
    top: 0;
    right: 0;
    padding: 0.25em;
    cursor: pointer;
    color: red;
    border: 1px solid var(--border-color);
    border-right: none;
    border-top: none;
}
.middle-panel {
    display: flex;
    text-align: center;
    justify-items: center;
    justify-content:space-evenly;
    margin-left: 0.5em;
    margin-right: 0.5em;
    
}
.bottom-left {
}

.coin-panel > .modifiable-item > button, .button-left > .modifiable-item > button {
    width: min-content;
    height: min-content;
    font-size: xx-small;
}


.coin-panel > hr {
    width: 100%;

}

.coin-panel > .modifiable-item {
    height: 2em;
    font-size: small;
    display: flex;
    
}

.modifiable-panel {
    display: grid;
}

.copy-button {
    position: absolute;
    top: 0;
    left: 0;
    padding: 0.2em;
    border: 1px solid var(--border-color);
    border-left: none;
    border-top: none;
    cursor: pointer;
    
}
