<div class="player-card" data-playerID="null">
    <link rel="stylesheet" href="/player-card.css">
    <p class="player-name">PlayerName</p>
    <hr>
    <div class="xpPanel">
        <p>Level: <span class="player-level">1</span></p>
        <h6>XP: <span class="player-xp">1</span></h6>
    </div>
    <hr>
    <div class="flex">
        <div class="modifiable-panel">
            <div>
                <p>Health: <span class="player-health">100</span></p>
                <button class="add-health" data-playerID="null">+</button>
                <button class="remove-health" data-playerID="null">-</button>
            </div>
            <div>
                <p>Armor: <span class="player-armor">100</span></p>
                <button class="add-armor" data-playerID="null">+</button>
                <button class="remove-armor" data-playerID="null">-</button>
            </div>
            <div>
                <p>Speed: <span class="player-speed">100</span></p>
                <button class="add-speed" data-playerID="null">+</button>
                <button class="remove-speed" data-playerID="null">-</button>
            </div>
        </div>
        <hr class="vertical"/>
        <div class="static-panel">
            <br>
            <div>Height: <span class="player-height">Medium</span></div>
            <br>
            <div>Initiative: <span class="player-initiative">5</span></div>
        </div>
    </div>
</div>