<div class="player-card">

    <link rel="stylesheet" href="player-card.css">

    <div class="delete-button">x</div>

    <p class="player-name">{{name}}</p>

    <div class="flex items-center space-evenly">
        <button class="add-xp-level">+1LVL</button>
        <button class="remove-xp-level">-1LVL</button>
        <button class="add-xp">+10XP</button>
        <button class="reset-xp">XP 0</button>
    </div>

    <hr>

    <div class="middle-panel">
            <div>
                <p>Level: <span class="player-level">{{level}}</span></p>
                <h6>XP: <span class="player-xp">{{xp}}</span></h6>
            </div>
            <hr class="vertical"/>
            <div>
                <p>Height: <h6><span class="player-height">{{height}}</span></h6></p>
                <p>Weight: <h6><span class="player-weight">{{weight}}</span></h6></p>
            </div>
            <hr class="vertical"/>
            <div>
                <p>Initiative: <h6><span class="player-initiative">{{initiative}}</span></h6></p>
                
            </div>
    </div>
    
    <hr>

    <div class="flex space-evenly items-center">
        <div class="modifiable-panel">
            <div class="modifiable-item">
                <div>HP: <span class="player-health">{{health}}</span></div>
                
                <button class="remove-health">-</button>
                <button class="add-health">+</button>
            </div>
            <div class="modifiable-item">
                <div>AC: <span class="player-armor">{{armorClass}}</span></div>
                
                <button class="remove-armor">-</button>
                <button class="add-armor">+</button>
            </div>
            <div class="grid-inline modifiable-item">
                <div>SPD: <span class="player-speed">{{playerSpeed}}</span></div>
                
                <button class="remove-speed">-</button>
                <button class="add-speed">+</button>
            </div>
        </div>

        <hr class="vertical"/>
    
        <div class="modifiable-panel coin-panel">
            <div class="modifiable-item">
                <button class="minus-copper">-</button>
                <div>CP <span class="copper-count">{{cp}}</span></div>
                <button class="plus copper">+</button>
            </div>
            <hr>
            <div class="modifiable-item"> 
                <button class="minus-silver">-</button>
                <div>SP <span class="silver-count">{{sp}}</span></div>
                <button class="plus silver">+</button>
            </div>
            <hr>
            <div class="modifiable-item">
                <button class="minus-electrum">-</button>
                <div>EP <span class="electrum-count">{{ep}}</span></div>
                <button class="plus electrum">+</button>
            </div>
            <hr>
            <div class="modifiable-item"> 
                <button class="minus gold">-</button>
                <div>GP <span class="gold-count">{{gp}}</span></div>
                <button class="plus gold">+</button>
            </div>
            <hr>
            <div class="modifiable-item">
                <button class="minus platinum">-</button>
                <div>PP <span class="platinum-count">{{pp}}</span></div>
                <button class="plus platinum">+</button> 
            </div>
        </div>
    </div>
</div>
